<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout plan</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
    <div class="wrap">
        <div class="list">
            <div class="listItem"></div>
            <div class="listItem"></div>
            <div class="listItem"></div>
            <div class="listItem"></div>
            <div class="listItem"></div>
        </div>
        <div class="fullList">
            <div class="fullListItem"></div>
            <div class="fullListItem"></div>
            <div class="fullListItem"></div>
            <div class="fullListItem"></div>
            <div class="fullListItem"></div>
        </div>
    </div>
</body>

</html>